
<div class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 hidden-sm col-sm-3">
            </div>
            <div class="col-xs-12 col-sm-6 single-title-area">
                <h1>{{getProfileDataApp().user}}</h1>
                <ul class="meta-li">
                    <li>{{getProfileDataApp().summary}}</li>
                </ul>
            </div>
            <div class="col-xs-3 hidden-xs col-sm-3">
            </div>
        </div>
    </div>
</div>
<div class="filter-tabs">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 hidden-sm col-sm-3">
            </div>
            <div class="col-xs-12 col-sm-9">
                <ul>
                    <li><a ng-class="{ active: isActive('About') }" ng-click="activateTab($event, 'About')" href="#_">About</a></li>
                    <li><a ng-class="{ active: isActive('Contacts') }" ng-click="activateTab($event, 'Contacts')" href="#_">Contacts</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 hidden-xs hidden-sm right-nudge">
                <div class="profile-image" style="background-image:url({{getProfileDataApp().avatar}})"></div>
                <h3>Contact Details</h3>
                <ul class="stats-list">
                    <li>
                        <span class="stat-name">Organisation</span>
                        <span class="stat-data"><a href="/#/profile">Medelinked</a></span>
                    </li>
                    <li>
                        <span class="stat-name">Phone Number</span>
                        <span class="stat-data">+44 (0)20 8720 7340</span>
                    </li>
                    <li>
                        <span class="stat-name">Email</span>
                        <span class="stat-data">support@medelinked.com</span>
                    </li>
                    <li>
                        <span class="stat-name">Website</span>
                        <span class="stat-data"><a href="https://app.medelinked.com" target="_blank">app.medelinked.com</a></span>
                    </li>
                    
                    <li>
                        <img src="../images/social-icons.png" style="max-width:200px;" />
                    </li>
                </ul>

                <h3>Areas Of Expertise</h3>
                <ul class="stats-list">
                    <li>
                        <span class="stat-name">Digital</span>
                        <span class="stat-data">Personal Health Record</span>
                        <span class="stat-data">Personal Health Information</span>
                        <span class="stat-data">Mobile Applications</span>
                        <span class="stat-data">Medical Device Integration</span>
                        <span class="stat-data">Mobile Healthcare</span>
                        <span class="stat-data">Telemedicine</span>
                    </li>
                    <li>
                        <span class="stat-name">Medical</span>
                        <span class="stat-data">Diabetes</span>
                        <span class="stat-data">COPD</span>
                        <span class="stat-data">Asthma</span>
                        <span class="stat-data">Selfcare</span>
                        <span class="stat-data">Wellness / Preventative Care</span>
                    </li>
                </ul>
                <div class="styled-title">
                    <div class="box"><i class="fa fa-bullhorn"></i></div>
                    <h3>Collaboration Request</h3>
                </div>
                <ul class="bullet-list">
                    <li>
                        <p>Make a collaboration request to get more information about the MySugr App</p>
                        <a href="/#/collaboration" class="text-link">More&#160;&#160;<i class="fa fa-caret-right"></i></a>
                    </li>

                </ul>
            </div>
            <div class="col-xs-12 col-md-9 article" ng-if="isActive('About')">
                <div class="row padding-top">
                    <div class="col-xs-12">
                        <!-- <h2>Manage your health with Medelinked</h2> -->
                        <p><strong>Medelinked is a secure mobile and online health platform that empowers you to take control of your health, from building your health profile to discovering, connecting to and sharing your health and wellness information with your trusted healthcare providers.</strong></p>
                        <p>
                            Medelinked enables you to create your own health profile by collating information using easy-to-view and understand snapshots and timelines from all the different health professionals you interact with as well as connected health applications and devices.
                        </p>
                        <p>
                            Medelinked allows you to set, act on and monitor wellness targets, and record health numbers and record a range of medical details including allergies, conditions, immunisations, medications and tests and store clinical standard DICOM MRI scans, x-rays and insurance and other documentation.
                        </p>
                        <div class="col-sm-6">
                            <iframe src="https://player.vimeo.com/video/149858688" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <br />
                        <h3>Problem trying to solve</h3>
                        <p>
                            Medelinked is a great way to look after the people you love because better outcomes result when we know our own state of health and can talk with confidence to the people that care for us.

                            We help you create permanent health profiles online, ensuring they are held in one secure space. Accessible at any time by smartphone, tablet, PC or Apple Mac, you can be sure they are always there and available to you and your healthcare partners the instant you need them.

                        </p>

                        <hr />
                        <br />
                        <h3>Aims / Objectives</h3>
                        <p>
                            Medelinked is a great way to look after the people you love because better outcomes result when we know our own state of health and can talk with confidence to the people that care for us.

                        </p>
                        <hr />
                        <br />
                        <h3>CCG Support</h3>
                        <ul>
                            <li>NHS Birmingham South And Central CCG</li>
                        </ul>
                        <br />
                        <hr />
                        <br />
                        <h3>AHSN Support</h3>
                        <ul>
                            <li>Academic Health Science Network for the North West Coast</li>
                        </ul>
                        <br />
                        <hr />
                        <br />
                        <h3>Frameworks</h3>
                        <ul>
                            <li>CDIS Lot 4.6 Patient Workflow & Tracking</li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>

           <div class="col-xs-12 col-md-9 no-padding" ng-if="isActive('Contacts')">
                <div class="table-list-wrapper">
                    <div class="table list-style condensed">
                        <div class="table-row headers">
                            <div class="table-cell wide">
                                Name
                            </div>
                            <div class="table-cell wide">
                                Job Title
                            </div>
                            <div class="table-cell text-center narrow">
                                Email
                            </div>
                            <div class="table-cell text-center narrow">
                                Action
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell title-cell">
                                <a href="#">Jas Singh</a>
                            </div>
                            <div class="table-cell body-cell">
                                CTO
                            </div>
                            <div class="table-cell meta-cell text-center">
                                jas.singh@medelinked.com
                            </div>
                            <div class="table-cell action-cell text-center">
                                <a href="/#/profile-individual" class="mark">View Profile&#160;&#160;<i class="fa fa-caret-right"></i></a>
                                &nbsp;
                                <a href="" ng-click="launchMsgModal($event, false)" class="mark">Send Message&#160;&#160;<i class="fa fa-caret-right"></i></a>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell title-cell">
                                <a href="#">Ian Gallifant</a>
                            </div>
                            <div class="table-cell body-cell">
                                CEO
                            </div>
                            <div class="table-cell meta-cell text-center">
                                iangallifant@medelinked.com
                            </div>
                            <div class="table-cell action-cell text-center">
                                <a href="" class="mark">View Profile&#160;&#160;<i class="fa fa-caret-right"></i></a>
                                &nbsp;
                                <a href="" ng-click="launchMsgModal($event, true)" class="mark">Send Message&#160;&#160;<i class="fa fa-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
           
             <div class="modal-wrapper fade" ng-if="showMsgModal">
                <div class="modal" ng-class="{'show' : showMsgModal }">
                    <i class="fa fa-close pull-right close-btn" ng-click="launchMsgModal($event, false)"></i>

                    <h2>Send Message</h2>
                    <hr />
                    <br />
                    <form>
                        <div class="row field-row">
                            <div class="col-md-4">
                                <label>Subject <span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" name="textfield" />
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-4">
                                <label>Message <span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <textarea rows="5"></textarea>
                            </div>
                        </div>

                        <hr />
                        <div class="form-buttons text-right">
                            <button type="submit" class="grey">Cancel</button>
                            <input type="submit" value="Send" class="green" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

