
<div class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 hidden-sm col-sm-3">
            </div>
            <div class="col-xs-12 col-sm-6 single-title-area">
                <h1 id="org">{{Organisation.name}}</h1>
                <ul class="meta-li">
                    <li id="maintag">{{Organisation.digitaltag}}</li>
                </ul>
            </div>
            <div class="col-xs-3 hidden-xs col-sm-3">
                <br />
                <br />
                <div class="buttons">
                    <a class="btn" href="" ng-click="launchProfileModal($event, true)">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="filter-tabs">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 hidden-sm col-sm-3">
            </div>
            <div class="col-xs-12 col-sm-9">
                <ul>
                    <li><a ng-class="{ active: isActive('About') }" ng-click="activateTab($event, 'About')" href="#_">About</a></li>
                    <li><a ng-class="{ active: isActive('Products') }" ng-click="activateTab($event, 'Products')" href="#_">Products &amp; Services</a></li>
                    <li><a ng-class="{ active: isActive('Contacts') }" ng-click="activateTab($event, 'Contacts')" href="#_">Contacts</a></li>
                    <li><a ng-class="{ active: isActive('Contracts') }" ng-click="activateTab($event, 'Contracts')" href="#_">Contracts</a></li>
                    <li><a ng-class="{ active: isActive('Case Studies') }" ng-click="activateTab($event, 'Case Studies')" href="#_">Case Studies</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 hidden-xs hidden-sm right-nudge">
                <div class="profile-image" style="background-image:url('');background-color:#fff;background-repeat:no-repeat"></div>
                <h3>Contact Details</h3>
                <ul class="stats-list">
                    <li>
                        <span class="stat-name">Address</span>
                        <span class="stat-data" id="street">{{Organisation.street}}</span>
                        <span class="stat-data" id="city">{{Organisation.city}}</span>
                        <span class="stat-data" id="county">{{Organisation.county}}</span>
                        <span class="stat-data" id="postcode">{{Organisation.postcode}}</span>
                        <span class="stat-data" id="country">{{Organisation.country}}</span>
                    </li>
                    <li>
                        <span class="stat-name">Phone Number</span>
                        <span class="stat-data" id="phone">{{Organisation.phone}}</span>
                        
                    </li>
                    <li>
                        <span class="stat-name">Email</span>
                        <span class="stat-data" id="email">{{Organisation.email}}</span>
                    </li>
                    <li>
                        <span class="stat-name">Website</span>
                        <span class="stat-data" id="website">{{Organisation.website}}</span>
                    </li>
                    <li>
                        <span class="stat-name">Size</span>
                        <span class="stat-data" id="size"></span>
                    </li>
                    <li>
                        <img src="../images/social-icons.png" style="max-width:200px;" />
                    </li>
                </ul>

                <h3>Areas Of Expertise</h3>
                <ul class="stats-list">
                    <li>
                        <span class="stat-name">Digital</span>
                        <span class="stat-data" id="tags">{{Organisation.digitaltag}}</span>
                        
                    </li>
                    <li>
                        <span class="stat-name">Medical</span>
                        <span class="stat-data" id="medtag">{{Organisation.medicaltag}}</span>
                    </li>
                </ul>
                <div class="styled-title">
                    <div class="box"><i class="fa fa-bullhorn"></i></div>
                    <h3>Collaboration Request</h3>
                </div>
                <ul class="bullet-list">
                    <li>
                        <p>Make a collaboration request to get more information about similar companies and solutions</p>
                        <a href="/#/collaboration" class="text-link">More&#160;&#160;<i class="fa fa-caret-right"></i></a>
                    </li>

                </ul>
            </div>
            <div class="col-xs-12 col-md-9 article" ng-if="isActive('About')">
                <div class="row padding-top">
                    <div class="col-xs-12">
                        <p id="about">
                            {{Organisation.description}}
                        </p>

                        <hr />
                        <br />
                        <h3>Aims / Objectives</h3>
                        <p id="aims">
                            {{Organisation.problem}}
                        </p>
                        <hr />
                        <br />
                        <h3>CCG Support</h3>
                        <p id="ccg"></p>
                        <br />
                        <hr />
                        <h3>AHSN Support</h3>
                        <p id="ahsn"></p>
                        <br />
                        <hr />
                        <h3>Frameworks</h3>
                        <p id="frameworks">

                        </p>
                        <br />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-9" ng-if="isActive('Products')">
                <div class="action-bar">
                    <p>You have <strong>3</strong> active products / services</p>
                    <div class="buttons">
                        <a class="btn" href="#_" ng-click="launchModal($event, true)">Add Product / Service</a>
                    </div>
                </div>
                <div class="row single-item-row">
                    <div class="col-xs-12">
                        <h2 id="prodName">{{Product.name}}</h2>
                        <p id="prodDesc">
                           {{Product.description}}
                        </p>
                        <br />
                        <h5>Details</h5>
                        <ul class="plain-list">
                            <li>Type <strong>{{Product.type}}</strong></li>
                            <li>Commercial Model <strong>Free</strong></li>
                            <li>Area Of Digital Expertise <strong><span id="maintag">{{Product.digitaltag}}</span></strong></li>
                            <li>Area Of Medical Expertise <strong><span id="medtag">{{Product.medicaltag}}</span></strong></li>
                        </ul>
                        <p>
                            <a class="btn" href="" ng-click="launchModal($event, true)">View</a>
                        </p>
                    </div>
                </div>

                
            </div>
            <div class="col-xs-12 col-md-9 no-padding" ng-if="isActive('Contacts')">
                <div class="table-list-wrapper">
                    <div class="table list-style condensed">
                        <div class="table-row headers">
                            <div class="table-cell wide">
                                Name
                            </div>
                            <div class="table-cell wide">
                                Job Title
                            </div>
                            <div class="table-cell text-center narrow">
                                Email
                            </div>
                            <div class="table-cell text-center narrow">
                                Action
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell title-cell">
                                <span id="currentUsr"></span>
                            </div>
                            <div class="table-cell body-cell">
                                
                            </div>
                            <div class="table-cell meta-cell text-center">
                                <span id="currentUsrEmail"></span>
                            </div>
                            <div class="table-cell action-cell text-center">
                                <a href="" class="mark">View Profile&#160;&#160;<i class="fa fa-caret-right"></i></a>
                                &nbsp;
                                <a href="" ng-click="launchMsgModal($event, false)" class="mark">Send Message&#160;&#160;<i class="fa fa-caret-right"></i></a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-md-9 no-padding" ng-if="isActive('Contracts')">
                <div class="table-list-wrapper">
                    <div class="table list-style condensed">
                        <div class="table-row headers">
                            <div class="table-cell wide">
                                With
                            </div>
                            <div class="table-cell wide">
                                Description
                            </div>
                            <div class="table-cell text-center narrow">
                                Value
                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-md-9 no-padding" ng-if="isActive('Case Studies')">
                <div class="table-list-wrapper">
                    <div class="table list-style condensed">
                        <div class="table-row headers">
                            <div class="table-cell wide">
                                Client
                            </div>
                            <div class="table-cell wide">
                                Description
                            </div>
                            <div class="table-cell text-center narrow">
                                Action
                            </div>

                        </div>


                    </div>
                </div>

               
                
            </div>
        </div>
        <div class="modal-wrapper fade" ng-if="showModal">
            <div class="modal" ng-class="{'show' : showModal }">
                <i class="fa fa-close pull-right close-btn" ng-click="launchModal($event, false)"></i>

                <h2>Product / Service</h2>
                <p><strong>Please provide details of the product / service by completing the form below</strong></p>
                <hr />
                <br />
                <form>
                    <div class="row field-row">
                        <div class="col-md-4">
                            <label>Name <span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" ng-model="Product.name" id="prodName" />
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-4">
                            <label>Description <span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <textarea rows="5" id="prodDesc" ng-model="Product.description"></textarea>
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-4">
                            <label>Problem Solving <span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <textarea rows="5" id="prodProblem" ng-model="Product.problem"></textarea>
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-4">
                            <label>Type</label>
                        </div>
                        <div class="col-md-8">
                            <select id="prodType" ng-model="Product.type">
                                <option>Product</option>
                                <option>Service</option>
                            </select>
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-4">
                            <label>Video URL</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" ng-model="Product.video" id="prodVid" />
                        </div>
                    </div>

                    <div class="row field-row">
                        <div class="col-md-4">
                            <label>Area of Digital Expertise <span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select class="demo-default" placeholder="Select a tag..." id="prodDigitalTag" multiple ng-model="Product.digitaltag">
                                <option value="">Select a tag...</option>
                                <option>Personal Health Record</option>
                                <option>Nursing Applications</option>
                                <option>Nursing Documentation</option>
                                <option>RFID-Patient Tracking</option>
                                <option>Mobile Helathcare</option>
                                <option>Mobile Applications</option>
                                <option>Mobile Healthcare</option>
                                <option>Mobile Privacy & Security</option>
                            </select>
                            <input type="text" name="textfield" id="digital-select" />
                        </div>
                    </div>

                    <div class="row field-row">
                        <div class="col-md-4">
                            <label>Area of Medical Expertise <span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select id="prodMedicalTag" class="demo-default" placeholder="Select a tag..." multiple ng-model="Product.medicaltag">
                                <option value="">Select a tag...</option>
                                <option>Diabetes</option>
                                <option>COPD</option>
                                <option>Asthma</option>
                                <option>Achalasia</option>
                                <option>Acid reflux</option>
                                <option>Antacid medicines</option>
                                <option>Benign migratory glossitis</option>
                                <option>Endocarditis</option>
                            </select>

                        </div>
                    </div>

                    <hr />
                    <div class="form-buttons text-right">
                        <button type="button" class="grey">Cancel</button>
                        <input type="button" value="Submit" class="green" ng-click="addProduct()" />
                    </div>
                </form>
            </div>
        </div>

        <div class="modal-wrapper fade" ng-if="showProfileModal">
            <div class="modal" ng-class="{'show' : showProfileModal }">
                <i class="fa fa-close pull-right close-btn" ng-click="launchProfileModal($event, false)"></i>

                <h2>Profile</h2>
                <p><strong>Please provide details of the product / service by completing the form below</strong></p>
                <hr />
                <br />

                <form>
                    <div style="height:500px;overflow-y: scroll; padding-right:15px">
                        <div class="row field-row">
                            <div class="col-md-4">
                                <label>Name <span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="orgNameEdit" ng-model="Organisation.name" />
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-4">
                                <label>Street <span class="required"></span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" ng-model="Organisation.street" id="orgStreetEdit" />
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-4">
                                <label>City <span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" ng-model="Organisation.city" id="orgCityEdit" />
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-4">
                                <label>Postcode <span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" ng-model="Organisation.postcode" id="orgPostcodeEdit" />
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-4">
                                <label>Telephone <span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" ng-model="Organisation.phone" id="orgTelephoneEdit" />
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-4">
                                <label>Website <span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" ng-model="Organisation.website"  />
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-4">
                                <label>Description <span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <textarea rows="5" id="orgDescEdit" ng-model="Organisation.description"></textarea>
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-4">
                                <label>Problem Solving <span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <textarea rows="5" id="orgProblemEdit" ng-model="Organisation.problem"></textarea>
                            </div>
                        </div>


                        <div class="row field-row">
                            <div class="col-md-4">
                                <label>Area of Digital Expertise <span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <select id="digital-select" class="demo-default" placeholder="Select a tag..." multiple ng-model="Organisation.digitaltag">
                                    <option value="">Select a tag...</option>
                                    <option selected>Personal Health Record</option>
                                    <option>Nursing Applications</option>
                                    <option>Nursing Documentation</option>
                                    <option>RFID-Patient Tracking</option>
                                    <option>Mobile Healthcare</option>
                                    <option selected>Mobile Applications</option>
                                    <option>Mobile Healthcare</option>
                                    <option>Mobile Privacy & Security</option>
                                </select>

                            </div>
                        </div>
                        <script>

                        </script>
                        <div class="row field-row">
                            <div class="col-md-4">
                                <label>Area of Medical Expertise <span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <select id="medical-select" class="demo-default" placeholder="Select a tag..." multiple ng-model="Organisation.medicaltag">
                                    <option value="">Select a tag...</option>
                                    <option selected>Diabetes</option>
                                    <option>COPD</option>
                                    <option selected>Asthma</option>
                                    <option>Achalasia</option>
                                    <option>Acid reflux</option>
                                    <option>Antacid medicines</option>
                                    <option>Benign migratory glossitis</option>
                                    <option>Endocarditis</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-buttons text-right">
                        <button type="button" class="grey" ng-click="launchProfileModal($event, false)">Cancel</button>
                        <input type="button" value="Submit" class="green" ng-click="saveProfile()" />
                    </div>
                </form>


            </div>
        </div>
        <div class="modal-wrapper fade" ng-if="showMsgModal">
            <div class="modal" ng-class="{'show' : showMsgModal }">
                <i class="fa fa-close pull-right close-btn" ng-click="launchMsgModal($event, false)"></i>

                <h2>Send Message</h2>
                <hr />
                <br />
                <form>
                    <div class="row field-row">
                        <div class="col-md-4">
                            <label>Subject <span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="textfield" />
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-4">
                            <label>Message <span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <textarea rows="5"></textarea>
                        </div>
                    </div>

                    <hr />
                    <div class="form-buttons text-right">
                        <button type="submit" class="grey">Cancel</button>
                        <input type="submit" value="Send" class="green" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        loadOrg();
    </script>
