
<div class="hero-area">

    <div class="container">
        <div class="row">

            <div class="col-xs-3 hidden-sm col-sm-3">

            </div>
            <div class="col-xs-12 col-sm-6 single-title-area">

                <h1>{{Contact.name}}</h1>

                <ul class="meta-li">
                    <li>{{Contact.title}}</li>
                </ul>
                <br />

            </div>
            <div class="col-xs-3 hidden-xs col-sm-3">
                <br />
                <br />
                <div class="buttons">
                    <a class="btn" href="#_" ng-click="launchProfileModal($event, true)">Edit Profile</a>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="filter-tabs">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 hidden-sm col-sm-3">
            </div>
            <div class="col-xs-12 col-sm-9">
                <ul>
                    <li><a ng-class="{ active: isActive('About') }" ng-click="activateTab($event, 'About')" href="#_">About</a></li>
                    <li><a ng-class="{ active: isActive('Collaborations') }" ng-click="activateTab($event, 'Collaborations')" href="#_">Colaboration Requests</a></li>
                    <li><a ng-class="{ active: isActive('Messages') }" ng-click="activateTab($event, 'Messages')" href="#_">Messages<span class="noti">2</span></a></li>
                    <li><a ng-class="{ active: isActive('Events') }" ng-click="activateTab($event, 'Events')" href="#_">Events</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 hidden-xs hidden-sm right-nudge">
                <div class="profile-image" style="background-image:url({{getProfileData().avatar}})"></div>
                <h3>Contact Details</h3>
                <ul class="stats-list">
                    <li>
                        <span class="stat-name">Organisation</span>
                        <span class="stat-data"><a href="/#/profile-org">{{Contact.organisation}}</a></span>
                    </li>
                    <li>
                        <span class="stat-name">Address</span>
                        <span class="stat-data">{{Contact.building}}</span>
                        <span class="stat-data">{{Contact.street}}</span>
                        <span class="stat-data">{{Contact.city}}</span>
                        <span class="stat-data">{{Contact.postcode}}</span>
                        <span class="stat-data">{{Contact.country}}</span>
                    </li>
                    <li>
                        <span class="stat-name">Phone Number</span>
                        <span class="stat-data">{{Contact.phone}}</span>
                    </li>
                    <li>
                        <span class="stat-name">Email</span>
                        <span class="stat-data">{{Contact.email}}</span>
                    </li>
                    <li>
                        <span class="stat-name">Website</span>
                        <span class="stat-data"></span>
                    </li>
                    <li>
                        <img src="../images/social-icons.png" style="max-width:200px;" />
                    </li>
                </ul>

                <h3>Areas Of Expertise</h3>
                <ul class="stats-list">
                    <li>
                        <span class="stat-name">Digital</span>
                        <span class="stat-data">{{Contact.digitaltag}}</span>
                    </li>
                    <li>
                        <span class="stat-name">Medical</span>
                        <span class="stat-data">{{Contact.medicaltag}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-9 article" ng-if="isActive('About')">
                <div class="row padding-top">
                    <div class="col-xs-12">
                        <!-- <h2>Manage your health with Medelinked</h2> -->
                        <p>{{Contact.description}}</p>
                        <br />
                        <h3>Problem trying to solve</h3>
                        <p>
                            {{Contact.objectives}}
                        </p>

                        <hr />
                        <br />
                        <h3>Aims / Objectives</h3>
                        <p>
                            {{Contact.aims}}
                        </p>
                        <hr />
                        <br />
                        <h3>CCG Support</h3>

                        <br />
                        <hr />
                        <br />
                        <h3>AHSN Support</h3>

                        <br />
                        <hr />
                        <br />
                        <h3>Frameworks</h3>
                        <ul>
                            <li>CDIS Lot 4.6 Patient Workflow & Tracking</li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 no-padding" ng-if="isActive('Collaborations')">
                <div class="action-bar">
                    <p>You have <strong>0</strong> active Collaboration Requests </p>
                    <div class="buttons">
                        <a class="btn" href="/#/collaboration">New Collaboration Request</a>
                    </div>
                </div>
                <div class="table-list-wrapper">
                    <div class="table list-style condensed">
                        <div class="table-row headers">
                            <div class="table-cell wide">
                                Title
                            </div>
                            <div class="table-cell wide">
                                Type
                            </div>
                            <div class="table-cell wide">
                                Product / Service
                            </div>
                            <div class="table-cell wide">
                                Objective
                            </div>
                            <div class="table-cell wide">
                                Funding
                            </div>
                            <div class="table-cell text-center narrow">
                                Action
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell title-cell">

                            </div>
                            <div class="table-cell body-cell">

                            </div>
                            <div class="table-cell meta-cell text-center">

                            </div>
                            <div class="table-cell action-cell text-center">

                            </div>
                            <div class="table-cell action-cell text-center">

                            </div>
                            <div class="table-cell action-cell text-center">

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-md-9 no-padding" ng-if="isActive('Messages')">
                <div class="action-bar">
                    <p>You have <strong>0</strong> new messages</p>
                </div>
                <div class="table-list-wrapper">
                    <div class="table list-style">
                        <div class="table-row headers">
                            <div class="table-cell wide">
                                From
                            </div>
                            <div class="table-cell wide">
                                Subject
                            </div>
                            <div class="table-cell text-center narrow">
                                Received
                            </div>
                            <div class="table-cell text-center narrow">
                                Action
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9" ng-if="isActive('Events')">
                <div class="action-bar">
                    <p>You are not attending any events</p>
                    <div class="buttons">
                        <a class="btn" href="#_">Add Event</a>
                    </div>
                </div>
                

            </div>

            <div class="modal-wrapper fade" ng-if="showProfileModal">
                <div class="modal" ng-class="{'show' : showProfileModal }">
                    <i class="fa fa-close pull-right close-btn" ng-click="launchProfileModal($event, false)"></i>

                    <h2>Profile</h2>
                    <p><strong>Please provide details of the product / service by completing the form below</strong></p>
                    <hr />
                    <br />

                    <form>
                        <div style="height:500px;overflow-y: scroll; padding-right:15px">
                            <div class="row field-row">
                                <div class="col-md-4">
                                    <label>Name <span class="required">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="orgNameEdit" ng-model="Contact.name" />
                                </div>
                            </div>
                            <div class="row field-row">
                                <div class="col-md-4">
                                    <label>Street <span class="required"></span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" ng-model="Contact.street" id="orgStreetEdit" />
                                </div>
                            </div>
                            <div class="row field-row">
                                <div class="col-md-4">
                                    <label>City <span class="required">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" ng-model="Contact.city" id="orgCityEdit" />
                                </div>
                            </div>
                            <div class="row field-row">
                                <div class="col-md-4">
                                    <label>Postcode <span class="required">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" ng-model="Contact.postcode" id="orgPostcodeEdit" />
                                </div>
                            </div>
                            <div class="row field-row">
                                <div class="col-md-4">
                                    <label>Telephone <span class="required">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" ng-model="Contact.phone" id="orgTelephoneEdit" />
                                </div>
                            </div>
                            <div class="row field-row">
                                <div class="col-md-4">
                                    <label>Website <span class="required">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" ng-model="Contact.website" id="orgTelephoneEdit" />
                                </div>
                            </div>
                            <div class="row field-row">
                                <div class="col-md-4">
                                    <label>Description <span class="required">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <textarea rows="5" id="orgDescEdit" ng-model="Contact.description"></textarea>
                                </div>
                            </div>
                            <div class="row field-row">
                                <div class="col-md-4">
                                    <label>Problem Solving <span class="required">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <textarea rows="5" id="orgProblemEdit" ng-model="Contact.objectives"></textarea>
                                </div>
                            </div>


                            <div class="row field-row">
                                <div class="col-md-4">
                                    <label>Area of Digital Expertise <span class="required">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <select id="digital-select" class="demo-default" placeholder="Select a tag..." multiple ng-model="Contact.digitaltag">
                                        <option value="">Select a tag...</option>
                                        <option selected>Personal Health Record</option>
                                        <option>Nursing Applications</option>
                                        <option>Nursing Documentation</option>
                                        <option>RFID-Patient Tracking</option>
                                        <option>Mobile Healthcare</option>
                                        <option selected>Mobile Applications</option>
                                        <option>Mobile Healthcare</option>
                                        <option>Mobile Privacy & Security</option>
                                    </select>

                                </div>
                            </div>
                            <script>

                            </script>
                            <div class="row field-row">
                                <div class="col-md-4">
                                    <label>Area of Medical Expertise <span class="required">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <select id="medical-select" class="demo-default" placeholder="Select a tag..." multiple ng-model="Contact.medicaltag">
                                        <option value="">Select a tag...</option>
                                        <option selected>Diabetes</option>
                                        <option>COPD</option>
                                        <option selected>Asthma</option>
                                        <option>Achalasia</option>
                                        <option>Acid reflux</option>
                                        <option>Antacid medicines</option>
                                        <option>Benign migratory glossitis</option>
                                        <option>Endocarditis</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-buttons text-right">
                            <button type="button" class="grey" ng-click="launchProfileModal($event, false)">Cancel</button>
                            <input type="button" value="Submit" class="green" ng-click="saveProfile()" />
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

</div>
