
		<div class="styled-title">
			<div class="box"><i class="fa fa-bullhorn"></i></div>
			<h3>Collaboration Requests</h3>
		</div>
        <ul class="bullet-list">
            <li>
                <a class="headline" href="/#/collaboration-myd">MyDirectives</a>
                <p>US company seeks first free test site in UK for Digital Emergency, Critical and Advance Care Plans.</p>
                <a href="/#/collaboration-myd" class="text-link">More&#160;&#160;<i class="fa fa-caret-right"></i></a>
            </li>
            <li>
                <a class="headline" href="/#/collaboration-yourmd">Your.MD</a>
                <p>Doctors and nurses required to help test artificial intelligence driven personal health assistant.</p>
                <a href="/#/collaboration-yourmd" class="text-link">More&#160;&#160;<i class="fa fa-caret-right"></i></a>
            </li>
            <li>
                <a class="headline" href="/#/collaboration-ccg">Southwark CCG</a>
                <p>We wish to hear from anyone who feels they have a digital solution that can help GPs deliver online consultations.</p>
                <a href="/#/collaboration-ccg" class="text-link">More&#160;&#160;<i class="fa fa-caret-right"></i></a>
            </li>
        </ul>
		
	</div>
