  <div class="styled-title">
    <div class="box"><i class="fa fa-bullhorn"></i></div>
    <h3>Newsfeed</h3>
    <span>Updated 27/3 @ 12:00</span>
  </div>

  <ul class="bullet-list">
    <li>
      <a class="headline" href="https://www.digitalhealth.net/2017/03/salford-ccg-picks-health-tech-innovations-in-dragons-den-pitch/">Salford CCG picks health tech innovations in Dragon's Den pitch</a>
      <p>Health tech companies and start-ups pitched to Salford CCG in a Dragon Den's style contest to win funding and a pilot for their products.</p>
      <a href="https://www.digitalhealth.net/2017/03/salford-ccg-picks-health-tech-innovations-in-dragons-den-pitch/" class="text-link">More&#160;&#160;<i class="fa fa-caret-right"></i></a>
    </li>
      <li>
          <a class="headline" href="http://salusdigital.net/organisational-readiness-technology-enabled-care-services/">Organisational Readiness: Technology Enabled Care Services</a>
          <p>Having previously worked in the public sector I have personally been guilty of procuring technologies without firstly giving a lot of consideration as to how ready the organisation was to use the technologies effectively.</p>
          <a href="http://salusdigital.net/organisational-readiness-technology-enabled-care-services/" class="text-link">More&#160;&#160;<i class="fa fa-caret-right"></i></a>
      </li>
    <li>
      <a class="headline" href="http://medcitynews.com/2017/03/clinical-checklists-blended-patient-education-engagement-can-drive-better-outcomes/">Clinical checklists blended with patient education and engagement can drive better outcomes</a>
      <p>When you're sick or require medical attention, you need your wits about you. But emotions and physical limitations can impede the ability of a patient or their family to understand and retain important details, such as instructions for surgical prep or aftercare, which can have a significant impact on a patient's health outcomes.</p>
      <a href="http://medcitynews.com/2017/03/clinical-checklists-blended-patient-education-engagement-can-drive-better-outcomes/" class="text-link">More&#160;&#160;<i class="fa fa-caret-right"></i></a>
    </li>
    <li>
      <a class="headline" href="https://www.digitalhealth.net/2017/03/nhs-digital-academy-for-300-ccio-cios/">NHS Digital Academy to train 300 CCIOs and CIOs</a>
      <p>NHS England is hoping to train 300 NHS staff to become "digital leaders" by 2021 by running them through a 12-month training course.</p>
      <a href="https://www.digitalhealth.net/2017/03/nhs-digital-academy-for-300-ccio-cios/" class="text-link">More&#160;&#160;<i class="fa fa-caret-right"></i></a>
    </li>
    
  </ul>
