  <div class="styled-title">
    <div class="box"><i class="fa fa-calendar-o"></i></div>
    <h3>Upcoming<br/>Events</h3>
  </div>
  <ul class="caret-list">
      <li>
        <a href="http://www.himssfrenchcommunity.org/" target="_blank">HIMSS Liege</a>
        <span>28 - 29 March 2017 / Liege, Belgium</span>
      </li>  
      <li>
          <a href="http://informaticsforhealth.org/">Informatics for Health 2017</a>
          <span>24 - 26 April 2017  / Manchester, UK</span>
      </li>    
      <li>
        <a href="http://ukehealthweek.com/" target="_blank">UK e-Health Week</a>
        <span>3 - 4 May 2017 / London, UK</span>
      </li>
      <li>
          <a href="http://www.ehealthweek.org/ehome/index.php?eventid=198654&tabid=447653&" target="_blank">e-Health Week 2017</a>
          <span>10 - 12 May 2017 / Malta</span>
      </li>
      <li>
          <a href="http://www.openforumevents.co.uk/event/future-nhs-plans-delivering-transformation-sustainability/">The Future NHS Plans: Delivering Transformation and Sustainability</a>
          <span>18th May / London, UK</span>
      </li>
      <li>
          <a href="https://www.eventbrite.co.uk/e/digital-health-and-care-congress-2017-healthcare-tickets-30077116465?aff=es2">Digital Health and Care World Congress 2017</a>
          <span>23 - 24 May 2017 / London, UK</span>
      </li>
      <li>
        <a href="http://www.ehealthsummit.at/">eHealth Summit Austria 2017</a>
        <span>23 - 24 May 2017 / Vienna, Austria</span>
      </li>
      
      <li>
        <a href="https://www.england.nhs.uk/expo/register-now-for-expo-2017/">Health and Care Innovation Expo 2017</a>
        <span>11 - 12 September 2017 / Manchester, UK</span>
      </li>

  </ul>
  <a href="" class="text-link">More&#160;&#160;<i class="fa fa-caret-right"></i></a>
