
<h3>Top tips from two digital health companies that have managed to sell to the NHS</h3>
<p>
    <strong>Posted 23 March 2017</strong><br />
    Success doesn't seem to be coming so easily to digital health start-ups in the UK. I recently attended the launch event for the next DigitalHealth.London accelerator and the Digital Health Technology Show and at both events I heard people bemoan their lack of success in selling to the NHS.</p>


<a href="http://salusdigital.net/secret-success-top-tips-two-digital-health-companies-managed-sell-nhs/" class="text-link">More&#160;&#160;<i class="fa fa-caret-right"></i></a>
