<div class="hero-area">

			<div class="container">
				<div class="row">

						<div class="col-xs-3 hidden-sm col-sm-3">

						</div>
						<div class="col-xs-12 col-sm-6 single-title-area">

								<h1>{{getProfileData().user}}</h1>

								<ul class="meta-li">
									<li>{{getProfileData().summary}}</li>
								</ul>
                            <br />
                            
						</div>
						<div class="col-xs-3 hidden-xs col-sm-3">
                            <br />
                            <br />
                            <div class="buttons">
                                <a class="btn" href="#_">Edit Profile</a>
                            </div>
						</div>

			</div>
		</div>

</div>
