  <h3>Profile Stats</h3>
  <ul class="stats-list">
      <li>
        <span class="stat-name">Profile Views</span>
        <span class="stat-data"><strong>1,345</strong> this week</span>
        <span class="stat-data"><span class="green">+25%</span> in 30 days</span>
      </li>
      <li>
        <span class="stat-name">Collaboration Request</span>
        <span class="stat-data"><strong>3</strong> this week</span>
        <span class="stat-data"><span class="red">-3%</span> in 30 days</span>
      </li>
      <li>
        <span class="stat-name">Profile Views</span>
        <span class="stat-data"><strong>1,345</strong> this week</span>
        <span class="stat-data"><span class="green">+25%</span> in 30 days</span>
      </li>
      <li>
        <span class="stat-name">Collaboration Request</span>
        <span class="stat-data"><strong>3</strong> this week</span>
        <span class="stat-data"><span class="red">-3%</span> in 30 days</span>
      </li>


  </ul>
