<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-3">

      <h4>Tell us what you think</h4>
      <p>We want ReconnHealth to be as useful as possible, so we are currently sharing an Alpha version of the site. We’d love to get your feedback and any suggestions you may have, so let us know your thoughts.</p>

      <div class="icon-block">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-google-plus"></i>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 nudge-left">
      <h4>Getting Around</h4>
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Cookie Policy</a></li>
        <li><a href="">Press Enquiries</a></li>
        <li><a href="">Accessibility</a></li>
      </ul>

    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 nudge-left">
      <h4>&nbsp;</h4>
      <ul>
        <li><a href="">Terms &amp; Conditions</a></li>
        <li><a href="">Editorial Policy</a></li>
        <li><a href="">Comments Policy</a></li>
        <li><a href="">Sitemap</a></li>
        <li><a href="">Links Policy</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 footer-logos">
      <img src="images/footer-logos.jpg"/>
    </div>

  </div>
</div>
<div class="text-center v-bottom">
  <div class="container">
    <div class="row">
        <div class="col-xs-6 text-left">

        <p>  © 2017 ReconnHealth </p>

        </div>
        <div class="col-xs-6 text-right">

        </div>
    </div>
  </div>
</div>
